
body{
	text-align: center;
	padding: 10rem;
}

.btn{
	margin: 10rem auto;
	width: 40%;
	height: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.buttons{
	
	padding: .5rem 0.8rem;
	margin: 1rem;
	text-decoration: none;
	background-color: rgb(230, 227, 227);
	box-shadow: 0.5px 0.5px 1px 1px rgb(196, 195, 195);
	color: black;
}

